.side-left img{

    max-width: 100%;width: 45px;height: 50px;border-radius: 50%;margin-top: 0;}
.side-left, .side-right{
    float: left;
}
.side-left{
    width: 10%;
}
.side-left .pull-left{
    padding-right: 0;
    width: 100%;
    height: 52px;
    padding-top: .05em;
    position: relative;
    margin: 0 auto;
    margin-bottom: .65em;
    float: none;
    overflow: hidden;
    text-align: center;
}
.side-right{
    width: 90%;
    float: right;
}
.preg-match{}

.preg-match .pull-left{
    text-align: center;
    width: 92%;
    background-color: #F3F3F3;
    margin: 0 4% 15px;
    font-size: .85em;
    border-radius: 4px;
    line-height: 1.7em;
}
.preg-match .pull-left.de_acuerdo{}
.preg-match .pull-left.desacuerdo{}
.preg-match .pull-left.neutral{}
.preg-match .pull-left.match{
    background-color: #8CBBC6;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.24);
}
.preg-match .pull-left.match p{
    color: #fff;
}
.preg-match .pull-left.match a{
    font-weight: 100;
    color: black;
}
.preg-match p{
    margin: 0;
    margin-bottom: 0;
    margin-top: .3em;
    font-size: 1em;
    color: #343434;
    font-weight: 100;
}
.preg-match a{
    margin-bottom: .3em;
    display: block;
    color: #929191;
    font-size: .85em;
}

.user-results{
    margin-bottom: 1em;
    position: relative;
}
.user-results .slick-arrow{font-size: 16px;background-color: #2189BC;z-index: 9999;}
.user-results .slick-prev{
    
}
.user-results .slick-next, .user-results .slick-prev{
    right: -19px;
    height: 35px;
    width: 20px;
    text-align: right;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}
.user-results .slick-prev{
    left: -26px;
    border-radius:initial;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}
.user-results .slick-next:before, .user-results .slick-prev:before{
    content: '\276f';
    opacity: 1;
    float: right;
    margin-right: 0.3em;
}
.user-results .slick-prev:before{
    content: '\276e';
    
}
.slick-next:after{
    content:"";
}
.user-results p{
    font-size: .8em;
    font-weight: 100;
    margin: 0 5%;
    color: #000;
    line-height: 1.3em;
    min-height: 130px;
    margin-bottom: 1em;
}
.user-results .box-user{
    width: 187px;
    background-color: #8CBBC6;
    color: #fff;
    border-radius: 6px;
    margin: 0px 4%;
    width: 90%;
    position: relative;
    padding: 1em 1%;
    overflow: hidden;
}
.user-results .opinion{
    background-color: #000;
    margin-bottom: -1em;
    width: 102%;
    margin-left: -1%;
    padding: .5em 0;
    border-radius: 3px;
}
.sep-res{
    clear: both;
    border-top: 2px solid #CECECE;
}
.slick-slide:first-child{
    display: block !important;
}
.box-resultado{
    padding-top: 7em;
    height: 500px;
}
.promo h4{
    display: block;
    font-size: 2.5em;
    margin-top: .25em;
    margin-bottom: .2em;
}
.promo img{
    max-width: 150px;
    float: none;
}
.box-img{
    position:relative;
}

.title-afinidad{
    font-size: 2em;
}
.promo.ganador h2{
    font-size: 1.4em;
}
.promo p{}
.share-icon img{
    width: 60px;
    height: 15px;
    margin-bottom: .6em;
    margin-left: 0.2em;
}
.promo{
    margin-top: 4.5em;
}
.promos{
    max-width: 630px;
}
.promo h2{
    font-size: 1em;
}
.todos > h2{
    margin: 1.5em 0;
    font-size: 1.8em;
}
.todos{

}
.msj-comp{
    text-align: left;    font-size: 01.3em;    text-transform: none;
    margin: 0em 0 1.1em;
}