#form{
	margin: 0em auto 0;
}
#form label, #form select, #form input[type="text"]{
	    font-size: .85em;
}
#form input[type="text"]{
	    max-width: 214px;
}
#form > h2{
	font-size: 1.1em;
}
.view-rpts{
	margin-top: 0;
	padding: .5em 0 2em;
}
.view-rpts .resumen > h2 {
	font-size: 1.5em;
	margin: 1em 0 .5em;
}
.view-rpts .box h3{
	font-size: 1.2em;
	text-transform: none;
	line-height: 1.1em;
	font-weight: 100;
	margin: 1em 5% 1.5em;
}
.view-rpts .resumen > h2 > span{padding: .2em .8em;}
footer{
	    padding: 30px 0 30px 5%
}
div.box-pregunta{
	height: 640px;
}
.intro__content{
	top: 28em;
}
.btn-1 {

    padding: .8em 1.5em;
    font-size: .75em;width: 150px;}
@media screen and (max-width: 680px){
	.container, .container::after {
	    height: 100%;
	}
	.intro__content{
		    top: 55%;
		    font-size: .9em;
		    padding: 0 .5em;
		    width: 86%;
		    margin-top: 2em;
	}
	div.view-rpts{
		margin-top: 0;
	}
	.thumb-nav{
		z-index: 99999999;
		margin-right: 15%;
	}
	.thumb-nav__item span{
		line-height: 4.5em;
		font-size: 1.3em;
	}
	div.box-pregunta{
		height: 98%;
	}
	.intro__content .btn{
	    width: 80px;
	    font-size: 0.55em;
	    padding: 0.3em .2em;
	    margin: 1.5em .1em 2em;
	}
	.logo{
    width: 90px;
    margin: .3em 0;
 }
	.logo-rpp{
    	width: 20px;
    	margin-right: 5em;
 }
	.logo-idea{
    		width: 23px;
    		margin-top: 0.8em;
 }
	.logo-netherlands{
		width: 75px;
		margin: 1.2em .5em 0;
	}
	
}

@media screen and (max-width: 1024px){
	div.box-pregunta {
	    background-size: cover;
	    background-position: 20% 5em;
	}
	
}

@media screen and (max-width: 769px){
	div.box-pregunta {
	    background-size: cover;
	    background-position: 20% 3em;
	}
}
@media (min-width: 1140px){
	div.box-pregunta {
	    /* height: 560px; */
	}	
	div.box-pregunta .container, .container::after{
		height: 100%;
	}
}
@media (min-width: 1370px){
	.intro__content{
	}
}
@media (min-width: 1600px){
	div.box-pregunta {
	    /* height: 570px; */
	}
}


