body {
	overflow-y: scroll; /* prevent jump */
	overflow-x: hidden;
}

/* hidden class for the SVG */
.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
}

/* Global thumbnail navigation */
.thumb-nav {
	position: absolute;
	top: 17%;
	left: initial;
	right: 4em;
	height: 90px;
	z-index: 99999999;
	display: -webkit-flex;
	display: inline-block;
	text-align: center;
	-webkit-align-items: center;
	width: 35px;
	align-items: center;
	padding: 1em 0;
	margin-left: 0;
	-webkit-transition: -webkit-transform 0.6s, opacity 0.6s;
	transition: transform 0.6s, opacity 0.6s;
	-webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	text-align: center;
}

.thumb-nav--hide {
	opacity: 0;
	-webkit-transform: translate3d(0, -200px, 0);
	transform: translate3d(0, -200px, 0);
}
.thumb-nav__item {
	position: relative;
	/* display: inline-block !important; */
	margin-right: 1em;
	padding: 2em 0;
	width: 50px;
	font-size: 12px;
	border-radius: 0;
	color: #fff;
	overflow: hidden;
	-webkit-transition-duration: 0.5s;
}
.thumb-nav__item:hover{
	/* border-color:#666; */
	/* transform: scale(1.2); */
}
.thumb-nav__item.thumb-nav__item--current > span{
	color: white;
}
.thumb-nav__item:hover > span{
}
.thumb-nav__item img {
	display: block;
	border-radius: 50%;
	opacity: 0.2;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
}

.thumb-nav__item--current img,
.thumb-nav__item:hover img {
	opacity: 0.95;
	-webkit-transform: scale3d(0.75, 0.75, 1);
	transform: scale3d(0.75, 0.75, 1);
}

.thumb-nav__item span {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	font-size: 1.3em;
	color: #FFF;
	line-height: 4.1em;
	background-color: rgba(255, 255, 255, 0) !important;
	overflow: hidden;
	border-radius: 0;
}

/* Container styles */
.container,
.container::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	opacity: 0;
	pointer-events: none;
}

.container {
	z-index: 9999;
	overflow: hidden;
	background: #fff;
	/* -webkit-transform-origin: 50% 120%; */
	/* transform-origin: 50% 120%; */
}

.container::after {
	z-index: 1000;
	/* background: #000; */
	content: '';
	/* -webkit-transition: opacity 0.9s; */
	/* transition: opacity 0.9s; */
	/* -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1); */
	/* transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1); */
	height: 100%;
}

.container--animOutRight::after,
.container--animOutLeft::after {
	opacity: 1;
}

.container--current {
	position: absolute;
	z-index: 999999;
	height: 100%;
	opacity: 1;
	pointer-events: auto;
}

.container--animInRight,
.container--animInLeft {
	z-index: 101;
	opacity: 1;
}

.container--animInRight,
.container--animInLeft,
.container--animOutRight,
.container--animOutLeft {
	-webkit-animation-timing-function: cubic-bezier(0.7,0,0.3,1);
	animation-timing-function: cubic-bezier(0.7,0,0.3,1);
	-webkit-animation-duration: 0.9s;
	animation-duration: 0.9s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

.container--animInRight {
	-webkit-animation-name: animInRight;
	animation-name: animInRight;
}

.container--animInLeft {
	-webkit-animation-name: animInLeft;
	animation-name: animInLeft;
}

.container--animOutRight {
	-webkit-animation-name: animOutRight;
	animation-name: animOutRight;
}

.container--animOutLeft {
	-webkit-animation-name: animOutLeft;
	animation-name: animOutLeft;
}

@-webkit-keyframes animOutLeft {
	from {} /* Fixes Chrome issue 35.0.1916.114 (easing breaks) */
	to {
		-webkit-transform: rotate3d(0,0,1,-20deg) translate3d(-100%,0,0);
		opacity: 0;
	}
}

@keyframes animOutLeft {
	from {} /* Fixes Chrome issue 35.0.1916.114 (easing breaks) */
	to {
		-webkit-transform: rotate3d(0,0,1,-20deg) translate3d(-100%,0,0);
		transform: rotate3d(0,0,1,-20deg) translate3d(-100%,0,0);
		opacity: 0;
	}
}

@-webkit-keyframes animInRight {
	from {
		-webkit-transform: rotate3d(0,0,1,20deg) translate3d(100%,0,0);
		opacity: 0;
	}
	to {
		-webkit-transform: rotate3d(0,0,1,0deg) translate3d(0,0,0);
	}
}

@keyframes animInRight {
	from {
		-webkit-transform: rotate3d(0,0,1,20deg) translate3d(100%,0,0);
		transform: rotate3d(0,0,1,20deg) translate3d(100%,0,0);
		opacity: 0;
	}
	to {
		-webkit-transform: rotate3d(0,0,1,0deg) translate3d(0,0,0);
		transform: rotate3d(0,0,1,0deg) translate3d(0,0,0);
	}
}

@-webkit-keyframes animOutRight {
	from {} /* Fixes Chrome issue 35.0.1916.114 (easing breaks) */
	to {
		-webkit-transform: rotate3d(0,0,1,20deg) translate3d(100%,0,0);
		opacity: 0;
	}
}

@keyframes animOutRight {
	from {} /* Fixes Chrome issue 35.0.1916.114 (easing breaks) */
	to {
		-webkit-transform: rotate3d(0,0,1,20deg) translate3d(100%,0,0);
		transform: rotate3d(0,0,1,20deg) translate3d(100%,0,0);
		opacity: 0;
	}
}

@-webkit-keyframes animInLeft {
	from {
		-webkit-transform: rotate3d(0,0,1,-20deg) translate3d(-100%,0,0);
		opacity: 0;
	}
	to {
		-webkit-transform: rotate3d(0,0,1,0deg) translate3d(0,0,0);
	}
}

@keyframes animInLeft {
	from {
		-webkit-transform: rotate3d(0,0,1,-20deg) translate3d(-100%,0,0);
		transform: rotate3d(0,0,1,-20deg) translate3d(-100%,0,0);
		opacity: 0;
	}
	to {
		-webkit-transform: rotate3d(0,0,1,0deg) translate3d(0,0,0);
		transform: rotate3d(0,0,1,0deg) translate3d(0,0,0);
	}
}

.intro {
	position: absolute;
	z-index: 10;
	overflow: hidden;
	width: 100%;
	height: 100%;
	-webkit-transition: -webkit-transform 0.6s;
	transition: transform 0.6s;
	-webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	box-shadow: none;
	background: #fff;
	top: 0;
	padding: 0;
}

.container--animInRight .intro,
.container--animInLeft .intro,
.container--animOutRight .intro,
.container--animOutLeft .intro {
	position: absolute;
}

.container--open .intro {
	-webkit-transform: translate3d(0, -100%, 0) translate3d(0, 250px, 0);
	transform: translate3d(0, -100%, 0) translate3d(0, 250px, 0);
}

/* Fullscreen image */
.intro__image {
	position: absolute;
	bottom: 0;
	min-width: 100%;
	min-height: 120%;
	width: auto;
	height: auto;
	opacity: 0.8;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transition: -webkit-transform 0.6s, opacity 0.6s;
	transition: transform 0.6s, opacity 0.6s;
	-webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.container--open .intro__image {
	opacity: 0;
	-webkit-transform: translate3d(0, 20%, 0);
	transform: translate3d(0, 20%, 0);
}

/* Intro content */
.intro__content {
	position: absolute;
	width: 590px;
	top: 50%;
	padding: 0em 1em 0 1em;
	margin: 0 5%;
	font-size: 1em;
	background-color: rgba(255, 255, 255, 0.86);
	box-shadow: 1px 1px 4px 4px rgba(0, 0, 0, 0.27);
	/* padding-bottom: 2em; */
	/* height: 100%; */
	text-align: center;
	left: 50%;
	margin-left: -310px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.intro__content > h1{
	font-size: 1.15em;
	text-transform: initial;
	text-align: center;
	line-height: 1.1em;
	max-width: 1024px;
	margin: 0 auto;
	margin-top: 1.5em;
	font-weight: 100;
}
.intro__content > h3{
	font-size: .9em;
	font-family:'Open Sans', sans-serif;
	font-weight:600;
	text-transform:none;
	text-align:center;
}
.intro__title {
	margin: 0 0 20px;
	font-weight: 900;
	font-size: 4em;
	
	line-height: 1;
}

.intro__subtitle {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
}

.intro__description {
	margin: 0 auto 0 1em;
	line-height: 1.2;
}

/* Trigger button with SVG */
.trigger {
	position: relative;
	-webkit-flex: none;
	flex: none;
	overflow: hidden;
	margin: 0 0 0 20px;
	padding: 0;
	width: 40px;
	height: 40px;
	outline: none;
	border: none;
	background: none;
}

/* Hide the text */
.trigger span {
	position: absolute;
	top: 100%;
}

.icon {
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;

	stroke: #dbdbdb;
	fill: none;
	stroke-width: 2px;
}

/* Hide grid and show cross when opening */
.icon--cross,
.trigger--active .icon--grid {
	opacity: 0;
	-webkit-transform: scale3d(0.5, 0.5, 1);
	transform: scale3d(0.5, 0.5, 1);
}

.trigger--active .icon--cross {
	opacity: 1;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}

/* Main content */
.items-wrap {
	/* position: relative; */
	/* display: -webkit-flex; */
	/* display: flex; */
	/* -webkit-flex-wrap: wrap; */
	/* flex-wrap: wrap; */
	padding: 250px 5px 0;
	height: 100%;
}

.items-wrap::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #2a2e39;
	content: '';
	opacity: 1;
	-webkit-transition: opacity 0.6s;
	transition: opacity 0.6s;
	-webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	pointer-events: none;
}

.container--open .items-wrap::after {
	opacity: 0;
}

.item {
	position: relative;
	-webkit-flex: 1 0 25%;
	flex: 1 0 25%;
	overflow: hidden;
	height: 22vw;
	outline: none;
	border: 5px solid #2a2e39;
	border-width: 0 5px 10px;
	background: #2a2e39;
}

.item__image {
	position: absolute;
	top: 50%;
	min-height: 100%;
	width: 100%;
	opacity: 0.7;
	-webkit-transform: translate3d(0, -50%, 0) scale3d(1.2, 1.2, 1);
	transform: translate3d(0, -50%, 0) scale3d(1.2, 1.2, 1);
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
}

.item:hover .item__image {
	opacity: 1;
	-webkit-transform: translate3d(0, -50%, 0);
	transform: translate3d(0, -50%, 0);
}

.item__title {
	position: absolute;
	bottom: 0;
	margin: 0;
	padding: 1em;
	color: #dbdbdb;
	font-size: 1.85em;
	font-family: "Playfair Display", Georgia, serif;
	line-height: 1;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}

.item:hover .item__title {
	opacity: 0;
	-webkit-transform: translate3d(0, 20px, 0);
	transform: translate3d(0, 20px, 0);
}

/* Color schemes */
.theme-1 a {
	color: #e28e51;
}
.intro h1,.intro h2, .intro h3{
	color:#333;
}
.theme-1,
.theme-1 .intro {background: transparent;}

.theme-1 .item {
	border-color: #2b2827;
	background: #765136;
}

.theme-2 a {
	color: #90be23;
}

.theme-2,
.theme-2 .intro {
	background: #21241f;
}

.theme-2 .item {
	border-color: #21241f;
	background: #74834f;
}

.back-white{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: white;
	height: 85px;
	z-index: 998;
}
/* Media Queries */

@media screen and (max-width: 1440px) {
	.item {
		-webkit-flex: 1 0 33.333%;
		flex: 1 0 33.333%;
		height: 30vw;
	}
	.thumb-nav{
		top: 20%;
	}
}

@media screen and (max-width: 1000px) {
	.item {
		-webkit-flex: 1 0 50%;
		flex: 1 0 50%;
		height: 45vw;
	}
	.item,
	.intro__content {
		font-size: 0.85em;
		width: 90%;
		margin: 0 5%;
		left: 0;
		padding: 0;
	}
	.thumb-nav{

	}
	.thumb-nav > a{}
	.thumb-nav{

	}
}
@media screen and (max-width: 1024px) {
	.thumb-nav{}
	div.wrap-question{
    margin: 0;
    left: 0;
    width: 100%;
}
}
@media screen and (max-width: 769px) {
	.thumb-nav{}
	div.wrap-question{}
	.social{
		/* display:none; */
		font-size: 0.85em;
		
	}
	div.view-rpts{
		margin-top: -7em;
	}
	p.importancia{
		font-size: .6em;
	}
	.thumb-nav:before{
		
	}
}
@media screen and (max-width: 680px) {
	.item {
		-webkit-flex: 1 0 100%;
		flex: 1 0 100%;
		height: 90vw;
	}
	header{
		padding: .5em 0 !important;
	}
	.intro__title {
		font-size: 2em;
	}
	.intro__content{
		font-size: 0.7em;
		padding: 0 3%;
		width: 84%;
	}
	.intro__content > h1{
		margin-top: 1em;
		font-size: 1.1em;
		margin-bottom: 1em;
	}
	.importancia > a:before{
		font-size: 1.5em;
	}
	.intro__content .btn{
		font-size: 0.7em;
		padding: 0.3em .75em;
		margin: 0.3em;
	}
	.thumb-nav__item span{
    font-size: 1em;
    line-height: 4.5em;
}
	.intro__content > h3{
		margin: .5em 0;
		font-size: .8em;
		line-height: 1.5em;
	}
	.intro__content .btn > span{
		font-weight:bold;
	}
	.thumb-nav{padding: 0;/* bottom: 1em; *//* width: 80%; */margin: 0 10%;position: absolute;/* left: 0; */right: 0;}
	.thumb-nav:before{
		line-height: .0em;
		height: 43px;
		color: #fff;
	}
	.thumb-nav > a{
		font-size: .4em;
	}
	.thumb-nav{
		top: 19%;
		z-index: 99999;
	}
}
@media screen and (min-width: 1440px) {
	.thumb-nav{
		top: 27%;
	}
}